In [1]:
import pandas as pd
import numpy as np 
import os

In [2]:
master_sheet= pd.read_csv('/home/rajesh/work/bhuwan/data/AFI_conductivity and milk yield.csv')

In [3]:

import datetime 
import os
import pandas as pd
from datetime import datetime
temp_file=[]
directory='/home/rajesh/work/bhuwan'
afi_list = []


for files in os.listdir(directory):
    if files.startswith('TAMU'):
        file_path = os.path.join(directory, files)
        
        # Extract date from filename
        filename = os.path.basename(files)  # Get only the filename
        date_str = filename.split(" - ")[1].split(" ")[0]  # Extract '01-01-2024'

        # Convert to datetime object
        file_date = datetime.strptime(date_str, "%m-%d-%Y")

        # Read CSV and process
        temp_df = pd.read_csv(file_path)
        temp_df = temp_df.loc[2:].reset_index(drop=True)  # Drop first two rows
        temp_df["date"] = file_date  # Add date column

        afi_list.append(temp_df)

In [4]:
combined_df= pd.concat(afi_list)

In [5]:
one_month_before= pd.read_excel('/home/rajesh/work/bhuwan/data/Posthmus dairy daily milk data_20200101-20231231.xlsx', sheet_name='20230701-20231231')

In [6]:
master_sheet.groupby(['ID'])['date'].unique().to_dict()

{445: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 800: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 871: array(['12/15/2023', '12/16/2023', '12/17/2023', '12/18/2023',
        '12/19/2023', '12/20/2023', '12/21/2023', '12/22/2023',
        '12/23/2023', '12/24/2023', '12/26/2023', '12/27/2023',
        '12/28/2023', '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024',
        '1/2/2024', '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024',
        '1/7/2024', '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024',
        '1/12/2024', '1/13/2024', '1/14/2024'], dtype=object),
 893: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 919: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 971: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1012: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1026: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1174: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1561: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1583: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1606: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1632: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1643: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1660: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1668: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1674: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1680: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1757: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1877: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1885: array(['1/1/2024', '1/2/2024', '1/3/2024', '1/4/2024', '1/5/2024',
        '1/6/2024', '1/7/2024', '1/8/2024', '1/9/2024', '1/10/2024',
        '1/11/2024', '1/12/2024', '1/13/2024', '1/14/2024', '1/15/2024',
        '1/16/2024', '1/17/2024', '1/18/2024', '1/19/2024', '1/20/2024',
        '1/21/2024', '1/22/2024', '1/23/2024', '1/24/2024', '1/25/2024',
        '1/26/2024', '1/27/2024', '1/28/2024', '1/29/2024', '1/30/2024',
        '1/31/2024', '2/1/2024', '2/2/2024', '2/3/2024', '2/4/2024'],
       dtype=object),
 1896: array(['1/1/2024', '1/2/2024', '1/3/2024', '1/4/2024', '1/5/2024',
        '1/6/2024', '1/7/2024', '1/8/2024', '1/9/2024', '1/10/2024',
        '1/11/2024', '1/12/2024', '1/13/2024', '1/14/2024', '1/15/2024',
        '1/16/2024', '1/17/2024', '1/18/2024', '1/19/2024', '1/20/2024',
        '1/21/2024', '1/22/2024', '1/23/2024', '1/24/2024', '1/25/2024',
        '1/26/2024', '1/27/2024', '1/28/2024', '1/29/2024', '1/30/2024',
        '1/31/2024', '2/1/2024', '2/2/2024', '2/3/2024', '2/4/2024'],
       dtype=object),
 1906: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1927: array(['1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1928: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1934: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1950: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 2400: array(['1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024', '2/5/2024', '2/6/2024',
        '2/7/2024', '2/8/2024', '2/9/2024', '2/10/2024', '2/11/2024',
        '2/12/2024', '2/13/2024', '2/14/2024', '2/15/2024', '2/16/2024',
        '2/17/2024', '2/18/2024', '2/19/2024', '2/20/2024', '2/21/2024',
        '2/22/2024', '2/23/2024', '2/24/2024', '2/25/2024', '2/26/2024',
        '2/27/2024', '2/28/2024', '2/29/2024'], dtype=object),
 2649: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 3572: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 3620: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 3990: array(['1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024', '2/5/2024', '2/6/2024',
        '2/7/2024', '2/8/2024', '2/9/2024', '2/10/2024', '2/11/2024',
        '2/12/2024', '2/13/2024', '2/14/2024', '2/15/2024', '2/16/2024',
        '2/17/2024', '2/18/2024', '2/19/2024', '2/20/2024', '2/21/2024',
        '2/22/2024', '2/23/2024', '2/24/2024', '2/25/2024', '2/26/2024',
        '2/27/2024', '2/28/2024', '2/29/2024'], dtype=object),
 4018: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 4031: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 4143: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',

In [7]:
one_month_before

,Animal_ID,Group_ID,Date,Days_in_Milk,Age_Days,Lactation_Num,Yield(gr),Conductivity,Milking_Time(seconds)
0,441,1,2023-07-01,249,1434,2,20476.0,9.2,265.0
1,467,2,2023-07-01,115,1898,3,27256.0,10.4,283.0
2,650,1,2023-07-01,249,1848,3,20376.0,9.5,224.0
3,648,3,2023-07-01,30,1848,4,0.0,0.0,0.0
4,444,1,2023-07-01,312,1458,2,12436.0,8.9,184.0
...,...,...,...,...,...,...,...,...,...
389869,1476397724,8,2023-12-31,314,1011,1,0.0,0.0,0.0
389870,1476397723,8,2023-12-31,359,1436,2,0.0,0.0,0.0
389871,1476397722,8,2023-12-31,60,1439,3,0.0,0.0,0.0
389872,1476397721,8,2023-12-31,368,1748,3,0.0,0.0,0.0
389873,1476397664,1,2023-12-31,221,2291,4,30326.0,9.0,296.0

In [8]:
from datetime import time
main_dir= '/home/rajesh/work/bhuwan/data/smaxtec/smaxtec'
files = os.listdir(main_dir)
daily_df = []
minute_df = []

for i, file in enumerate(files):

    print(f'working on {i} file')
    if file.endswith('xlsx'):
      temp_path = os.path.join(main_dir, file)
      temp_file = pd.read_excel(temp_path, sheet_name=None)

      for key, value in temp_file.items():
          names = key.split('_')

          animal_id = names[0]
          file_daily = value.loc[9:, ::]
          file_daily.columns = file_daily.iloc[0]
          file_daily = file_daily.drop(9)
          file_daily['animal_id'] = names[0]
          print(animal_id)
          if key.endswith('daily'):
              daily_df.append(file_daily)
          else:
              file_daily['date']= pd.to_datetime(file_daily['date'])
              file_daily['time']= file_daily['date'].dt.time
              file_daily['day']= file_daily['date'].dt.date
              file_daily= file_daily[file_daily['time']==time(00,00,00)]



              minute_df.append(file_daily)

daily_df_merged= pd.concat(daily_df, axis=0)
minute_df_merged= pd.concat(minute_df, axis=0)
daily_df_merged['date']= pd.to_datetime(daily_df_merged['date'])
daily_df_merged['day']= daily_df_merged['date'].dt.date
daily_df_merged.columns
merged_df = minute_df_merged.merge(daily_df_merged,
                                  on=['animal_id', 'day'],
                                  how='inner',
                                  )

daily_df_merged= pd.concat(daily_df, axis=0)
minute_df_merged= pd.concat(minute_df, axis=0)
daily_df_merged['date']= pd.to_datetime(daily_df_merged['date'])
daily_df_merged['day']= daily_df_merged['date'].dt.date
daily_df_merged.columns
merged_df = minute_df_merged.merge(daily_df_merged,
                                  on=['animal_id', 'day'],
                                  how='inner',
                                  )

working on 0 file
6166
6166
6187
6187
6190
6190
6214
6214
6218
6218
6220
6220
6221
6221
6229
6229
6233
6233
6247
6247
working on 1 file
9491
9491
9492
9492
9496
9496
9500
9500
9507
9507
9511
9511
9512
9512
9517
9517
9521
9521
9527
9527
working on 2 file
4934
4934
4970
4970
4989
4989
5043
5043
5276
5276
5335
5335
5349
5349
5378
5378
5409
5409
5410
5410
working on 3 file
9623
9623
9625
9625
9629
9629
9631
9631
9632
9632
9633
9633
9634
9634
9636
9636
9639
9639
9641
9641
working on 4 file
9703
9703
9674
9674
9666
9666
9662
9662
9657
9657
9656
9656
9655
9655
9654
9654
9643
9643
working on 5 file
1730
1730
1777
1777
1844
1844
1883
1883
1890
1890
1896
1896
1910
1910
1924
1924
1951
1951
1969
1969
working on 6 file
3699
3699
3783
3783
3812
3812
3885
3885
3902
3902
3959
3959
3990
3990
4090
4090
4393
4393
4398
4398
working on 7 file
5414
5414
15424 - 5424
15424 - 5424
5433
5433
5452
5452
5457
5457
5459
5459
5470
5470
5485
5485
5502
5502
5504
5504
working on 8 file
8309
8309
8442
8442
8450
8450
8466
8466
8487
8487
8548
8548
8582
8582
8596
8596
8598
8598
8618
8618
working on 9 file
6003
6003
6077
6077
6151
6151
6156
6156
6189
6189
6224
6224
6241
6241
6297
6297
6298
6298
6303
6303
working on 10 file
7620
7620
7622
7622
7623
7623
7625
7625
7637
7637
7645
7645
7646
7646
7654
7654
7656
7656
7663
7663
working on 11 file
6724
6724
6741
6741
6744
6744
6753
6753
6772
6772
6775
6775
6795
6795
6806
6806
6818
6818
6864
6864
working on 12 file
6345
6345
6358
6358
6359
6359
6360
6360
6361
6361
6370
6370
6383
6383
6384
6384
6422
6422
6439
6439
working on 13 file
4452
4452
4562
4562
4563
4563
4583
4583
4602
4602
4630
4630
4635
4635
4636
4636
4737
4737
4751
4751
working on 14 file
9130
9130
9163
9163
9203
9203
9228
9228
9301
9301
9323
9323
9325
9325
9339
9339
9340
9340
9342
9342
working on 15 file
9439
9439
9441
9441
9448
9448
9453
9453
9462
9462
9465
9465
9474
9474
9478
9478
9487
9487
9488
9488
working on 16 file
5442
5442
5446
5446
5473
5473
5477
5477
5500
5500
5506
5506
5511
5511
5512
5512
5538
5538
5546
5546
working on 17 file
7877
7877
7887
7887
7892
7892
7902
7902
7908
7908
7910
7910
7916
7916
7920
7920
7921
7921
7927
7927
working on 18 file
9122
9122
9198
9198
9212
9212
9222
9222
9307
9307
9317
9317
9321
9321
9322
9322
9332
9332
9351
9351
working on 19 file
5425
5425
5443
5443
5455
5455
5520
5520
5525
5525
5564
5564
5565
5565
5640
5640
5668
5668
5684
5684
working on 20 file
445
445
529
529
675
675
716
716
737
737
791
791
800
800
829
829
1008
1008
1022
1022
working on 21 file
5030
5030
5041
5041
5088
5088
5132
5132
5155
5155
5163
5163
5191
5191
5232
5232
5286
5286
5341
5341
working on 22 file
4393
4393
4398
4398
4452
4452
4562
4562
4563
4563
4583
4583
4602
4602
4630
4630
4635
4635
working on 23 file
7734
7734
7742
7742
7746
7746
7757
7757
7762
7762
7767
7767
7771
7771
7775
7775
7781
7781
7802
7802
working on 24 file
4793
4793
4800
4800
4807
4807
4853
4853
5011
5011
5020
5020
5023
5023
5357
5357
5398
5398
5401
5401
working on 25 file
5551
5551
5573
5573
5595
5595
5607
5607
5614
5614
5623
5623
5636
5636
5650
5650
5665
5665
5666
5666
working on 26 file
6367
6367
6377
6377
6405
6405
6414
6414
6444
6444
6523
6523
6546
6546
6555
6555
6580
6580
6609
6609
working on 27 file
4554
4554
4560
4560
4566
4566
4589
4589
4646
4646
4657
4657
4658
4658
4667
4667
4668
4668
4672
4672
working on 28 file
50169
50169
50172
50172
50214
50214
working on 29 file
5515
5515
5553
5553
5599
5599
5627
5627
5628
5628
5647
5647
5657
5657
5662
5662
5671
5671
5673
5673
working on 30 file
9581
9581
9585
9585
9588
9588
9593
9593
9594
9594
9595
9595
9597
9597
9599
9599
9601
9601
9602
9602
working on 31 file
6100
6100
6103
6103
6110
6110
6119
6119
6122
6122
6133
6133
6150
6150
6175
6175
6194
6194
6198
6198
working on 32 file
7671
7671
7678
7678
7681
7681
7682
7682
7684
7684
7685
7685
7693
7693
7705
7705
7709
7709
7713
7713
working on 33 file
6588
6588
6608
6608
6617
6617
6636
6636
6659
6659
6666
6666
6673
6673
working on 34 file
6884
6884
6891
6891
6892
6892
6894
6894
6907
6907
6909
6909
6918
6918
6920
6920
6926
6926
6933
6933
working on 35 file
7598
7598
7603
7603
7628
7628
7634
7634
7640
7640
7652
7652
7677
7677
7680
7680
7708
7708
7712
7712
working on 36 file
9489
9489
9490
9490
9514
9514
9540
9540
9543
9543
9559
9559
9563
9563
9565
9565
9568
9568
9575
9575
working on 37 file
9484
9484
9528
9528
9532
9532
50046
50046
50048
50048
50051
50051
50058
50058
50058(2)
50058(2)
50063
50063
50085
50085
working on 38 file
2496
2496
2501
2501
2528
2528
2687
2687
2875
2875
2883
2883
2968
2968
2992
2992
3476
3476
3520
3520
working on 39 file
1646
1646
1970
1970
1978
1978
2435
2435
3351
3351
3359
3359
3418
3418
3834
3834
3904
3904
3941
3941
working on 40 file
7389
7389
7391
7391
7398
7398
7402
7402
7403
7403
7405
7405
7414
7414
7421
7421
7445
7445
7450
7450
working on 41 file
7363
7363
7384
7384
7400
7400
7410
7410
7425
7425
7432
7432
7485
7485
7508
7508
7516
7516
7528
7528
working on 42 file
7620
7620
7622
7622
7623
7623
7625
7625
7637
7637
7645
7645
7646
7646
7654
7654
7656
7656
7663
7663
working on 43 file
50064
50064
50067
50067
50068
50068
50077
50077
50078
50078
50106
50106
50165
50165
50179
50179
50181
50181
50182
50182
working on 44 file
7825
7825
7836
7836
7852
7852
7855
7855
7856
7856
7886
7886
7907
7907
7909
7909
7950
7950
7957
7957
working on 45 file
5182
5182
5184
5184
5211
5211
working on 46 file
838
838
841
841
854
854
862
862
877
877
895
895
902
902
954
954
959
959
961
961
working on 47 file
4120
4120
4381
4381
4419
4419
4421
4421
4524
4524
4643
4643
4743
4743
4767
4767
4816
4816
4833
4833
working on 48 file
6012
6012
6058
6058
6076
6076
6081
6081
6125
6125
6126
6126
6127
6127
6144
6144
6146
6146
6160
6160
working on 49 file
7476
7476
7492
7492
7517
7517
7518
7518
7522
7522
7527
7527
7542
7542
7551
7551
7556
7556
7594
7594
working on 50 file
1757
1757
1792
1792
1797
1797
1868
1868
1885
1885
1908
1908
1918
1918
1925
1925
1928
1928
1930
1930
working on 51 file
6880
6880
6883
6883
6893
6893
6921
6921
6922
6922
6929
6929
6955
6955
6977
6977
6979
6979
6993
6993
working on 52 file
6209
6209
6213
6213
6236
6236
6315
6315
6329
6329
6333
6333
6351
6351
6367
6367
6377
6377
6405
6405
working on 53 file
888
888
898
898
941
941
955
955
970
970
1012
1012
1043
1043
1133
1133
1140
1140
working on 54 file
1612
1612
1632
1632
1644
1644
1665
1665
1670
1670
1678
1678
1749
1749
1938
1938
1955
1955
1956
1956
working on 55 file
5686
5686
5696
5696
5701
5701
5708
5708
5739
5739
5750
5750
5752
5752
5821
5821
5824
5824
5843
5843
working on 56 file
50149
50149
50153
50153
50155
50155
50157
50157
50161
50161
50164
50164
50168
50168
working on 57 file
4673
4673
4689
4689
4690
4690
4705
4705
4794
4794
4797
4797
4817
4817
4896
4896
4835
4835
4912
4912
working on 58 file
9377
9377
9393
9393
9475
9475
9497
9497
9518
9518
9520
9520
9539
9539
9550
9550
9551
9551
9579
9579
working on 59 file
7992
7992
7998
7998
8007
8007
8013
8013
8020
8020
8069
8069
8117
8117
8128
8128
8175
8175
8182
8182
working on 60 file
3699
3699
3783
3783
3812
3812
3885
3885
3902
3902
3959
3959
3990
3990
4090
4090
working on 61 file
648
648
677
677
693
693
694
694
745
745
755
755
802
802
824
824
826
826
831
831
working on 62 file
7932
7932
7934
7934
7938
7938
7944
7944
7958
7958
7960
7960
7971
7971
7972
7972
7973
7973
7974
7974
working on 63 file
7671
7671
7678
7678
7681
7681
7682
7682
7684
7684
7685
7685
7693
7693
7705
7705
7709
7709
7713
7713
working on 64 file
9570
9570
9590
9590
10106
10106
11184
11184
11585
11585
14971
14971
15251
15251
15435
15435
50001
50001
50024
50024
working on 65 file
50054
50054
50055
50055
50060
50060
working on 66 file
6452
6452
6483
6483
6484
6484
6494
6494
6498
6498
6507
6507
6513
6513
6526
6526
6527
6527
6563
6563
working on 67 file
6262
6262
6271
6271
6293
6293
6316
6316
6320
6320
6324
6324
6326
6326
6327
6327
6342
6342
6344
6344
working on 68 file
7979
7979
8216
8216
8220
8220
8245
8245
8268
8268
8276
8276
8279
8279
8343
8343
8400
8400
8436
8436
working on 69 file
6998
6998
7034
7034
7078
7078
7101
7101
7139
7139
7146
7146
7164
7164
7186
7186
7211
7211
7218
7218
working on 70 file
1141
1141
1146
1146
1152
1152
1196
1196
1561
1561
1611
1611
1621
1621
1638
1638
1640
1640
1660
1660
working on 71 file
7318
7318
7329
7329
7331
7331
7338
7338
7361
7361
7368
7368
7369
7369
7372
7372
7379
7379
7386
7386
working on 72 file
7823
7823
7824
7824
7828
7828
7829
7829
7831
7831
7849
7849
7851
7851
7860
7860
7863
7863
7870
7870
working on 73 file
4931
4931
4941
4941
5012
5012
5024
5024
5025
5025
5054
5054
5102
5102
5115
5115
5140
5140
5159
5159
working on 74 file
9356
9356
9360
9360
9363
9363
9364
9364
9365
9365
9375
9375
9379
9379
9380
9380
9381
9381
9383
9383
working on 75 file
7308
7308
7311
7311
7317
7317
7499
7499
7513
7513
7514
7514
7515
7515
7520
7520
7521
7521
7533
7533
working on 76 file
9215
9215
9355
9355
9642
9642
15447
15447
50007
50007
50018
50018
50022
50022
50061
50061
50072
50072
working on 77 file
5690
5690
5728
5728
5994
5994
6337
6337
6354
6354
6364
6364
6375
6375
6397
6397
6410
6410
6434
6434
working on 78 file
6997
6997
7014
7014
7019
7019
7056
7056
7058
7058
7088
7088
7112
7112
7142
7142
7148
7148
7158
7158
working on 79 file
6697
6697
6700
6700
6704
6704
6707
6707
6714
6714
6715
6715
6739
6739
6748
6748
6754
6754
6755
6755
working on 80 file
1026
1026
1027
1027
1037
1037
1149
1149
1187
1187
1592
1592
1596
1596
1604
1604
1606
1606
1608
1608
working on 81 file
9603
9603
9604
9604
9606
9606
9609
9609
9610
9610
9613
9613
9615
9615
9616
9616
9621
9621
9622
9622
working on 82 file
6414
6414
6523
6523
6546
6546
6555
6555
6580
6580
6609
6609
6613
6613
6622
6622
6647
6647
6664
6664
working on 83 file
3539
3539
3572
3572
3726
3726
3809
3809
4011
4011
4016
4016
4045
4045
4092
4092
4093
4093
4143
4143
working on 84 file
7543
7543
7546
7546
7555
7555
7566
7566
7577
7577
7581
7581
7582
7582
7608
7608
7614
7614
7615
7615
working on 85 file
50183
50183
50185
50185
50187
50187
50188
50188
50189
50189
50191
50191
working on 86 file
50208
50208
50209
50209
50210
50210
50211
50211
50214
50214
50215
50215
50217
50217
50218
50218
50219
50219
50220
50220
working on 87 file
7243
7243
7277
7277
7302
7302
7309
7309
7328
7328
7341
7341
7356
7356
7380
7380
7388
7388
7393
7393
working on 88 file
4143
4143
4146
4146
4179
4179
4200
4200
4275
4275
4301
4301
4331
4331
4336
4336
4383
4383
4423
4423
working on 89 file
9577
9577
9578
9578
9598
9598
9608
9608
9620
9620
9638
9638
11449
11449
14923
14923
15235
15235
15281
15281
working on 90 file
7595
7595
7611
7611
7629
7629
7633
7633
7638
7638
7639
7639
7643
7643
7690
7690
7900
7900
7995
7995
working on 91 file
4174
4174
4177
4177
4183
4183
4244
4244
4253
4253
4281
4281
4300
4300
4372
4372
4379
4379
4391
4391
working on 92 file
7424
7424
7459
7459
7461
7461
8010
8010
8139
8139
8438
8438
8536
8536
8563
8563
9091
9091
9104
9104
working on 93 file
751
751
792
792
864
864
925
925
928
928
975
975
1154
1154
1623
1623
1629
1629
1634
1634
working on 94 file
6676
6676
6687
6687
6693
6693
6756
6756
6776
6776
6800
6800
6823
6823
6844
6844
6874
6874
6875
6875
working on 95 file
2496
2496
2501
2501
2528
2528
2687
2687
2875
2875
2883
2883
2968
2968
2992
2992
3476
3476
3520
3520
working on 96 file
5737
5737
5760
5760
5777
5777
5788
5788
5790
5790
5840
5840
5896
5896
5907
5907
5984
5984
6000
6000
working on 97 file
6941
6941
6947
6947
6952
6952
6962
6962
6963
6963
6964
6964
6974
6974
6982
6982
6985
6985
6990
6990
working on 98 file
50002
50002
50014
50014
50015
50015
50019
50019
50020
50020
50023
50023
50036
50036
50038
50038
50047
50047
working on 99 file
5219
5219
5223
5223
5227
5227
5281
5281
5290
5290
5296
5296
5300
5300
5360
5360
5384
5384
5396
5396
working on 100 file
50221
50221
50223
50223
50224
50224
50225
50225
50226
50226
50227
50227
50228
50228
working on 101 file
9706
9706
9718
9718
9719
9719
9729
9729
9749
9749
9753
9753
9937
9937
10105
10105
15198
15198
15231
15231
working on 102 file
5508
5508
5513
5513
5514
5514
working on 103 file
5872
5872
5928
5928
5957
5957
5972
5972
6023
6023
6052
6052
6055
6055
6070
6070
6086
6086
6099
6099
working on 104 file
7451
7451
7453
7453
7467
7467
7470
7470
7478
7478
7484
7484
7486
7486
7493
7493
7495
7495
7497
7497
working on 105 file
9349
9349
9352
9352
9394
9394
9421
9421
9428
9428
9450
9450
9461
9461
9464
9464
9477
9477
9483
9483
working on 106 file
7236
7236
7254
7254
7259
7259
7260
7260
7265
7265
7269
7269
7274
7274
7275
7275
7291
7291
7294
7294
working on 107 file
7967
7967
7996
7996
8005
8005
8018
8018
8071
8071
8143
8143
8210
8210
8221
8221
8254
8254
8272
8272
working on 108 file
6471
6471
6473
6473
6475
6475
6492
6492
6517
6517
6595
6595
6623
6623
6900
6900
6940
6940
6905
6905
working on 109 file
50029
50029
50037
50037
50040
50040
50041
50041
50046
50046
50048
50048
50051
50051
50058
50058
50058(2)
50058(2)
50042
50042
working on 110 file
1962
1962
1972
1972
1979
1979
2332
2332
2400
2400
2447
2447
2488
2488
2515
2515
2856
2856
2869
2869
working on 111 file
50192
50192
50193
50193
50195
50195
50196
50196
50199
50199
50200
50200
50201
50201
50202
50202
50203
50203
50206
50206
working on 112 file
7224
7224
7240
7240
7244
7244
7270
7270
7303
7303
7315
7315
7335
7335
7339
7339
7345
7345
7352
7352
working on 113 file
7163
7163
7168
7168
7172
7172
7182
7182
7195
7195
7200
7200
7203
7203
7205
7205
7220
7220
7227
7227
working on 114 file
8445
8445
8459
8459
8484
8484
8517
8517
8542
8542
8579
8579
8589
8589
8606
8606
9059
9059
9080
9080
working on 115 file
6959
6959
7015
7015
7031
7031
7082
7082
7127
7127
7149
7149
7189
7189
7194
7194
7223
7223
7226
7226
working on 116 file
9388
9388
9397
9397
9399
9399
9404
9404
9410
9410
9416
9416
9418
9418
9420
9420
9435
9435
9438
9438
working on 117 file
7736
7736
7739
7739
7745
7745
7790
7790
7796
7796
7797
7797
7799
7799
7803
7803
7815
7815
7816
7816

In [9]:
merged_df

9,date_x,timestamp_x,pH,temperature C,activity,Temp Without Drinkcycles,Normal temperature,Heat index,rum_index,animal_id,time,day,date_y,timestamp_y,water_intake in l
0,2022-10-28,2022-10-28 00:00:00,NaN,38.67,6.46,39.17,NaN,NaN,NaN,6166,00:00:00,2022-10-28,2022-10-28 23:50:00,2022-10-28 23:50:00,33
1,2022-10-29,2022-10-29 00:00:00,NaN,39.39,6.1,39.41,NaN,NaN,NaN,6166,00:00:00,2022-10-29,2022-10-29 23:50:00,2022-10-29 23:50:00,57
2,2022-10-30,2022-10-30 00:00:00,NaN,39.83,5.1,39.81,NaN,NaN,26700,6166,00:00:00,2022-10-30,2022-10-30 23:50:00,2022-10-30 23:50:00,70
3,2022-10-31,2022-10-31 00:00:00,NaN,39.05,3.62,39.68,NaN,NaN,34278,6166,00:00:00,2022-10-31,2022-10-31 23:50:00,2022-10-31 23:50:00,49
4,2022-11-01,2022-11-01 00:00:00,NaN,39.35,4.14,39.29,39.7,NaN,32215,6166,00:00:00,2022-11-01,2022-11-01 23:50:00,2022-11-01 23:50:00,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513573,2024-03-24,2024-03-24 00:00:00,NaN,39.89,11.04,39.9,39.7,0,29340,7816,00:00:00,2024-03-24,2024-03-24 23:50:00,2024-03-24 23:50:00,76
513574,2024-03-25,2024-03-25 00:00:00,NaN,40.1,5.43,40.05,39.75,0,33002,7816,00:00:00,2024-03-25,2024-03-25 23:50:00,2024-03-25 23:50:00,62
513575,2024-03-26,2024-03-26 00:00:00,NaN,40.03,3.78,39.99,39.77,0,30881,7816,00:00:00,2024-03-26,2024-03-26 23:50:00,2024-03-26 23:50:00,79
513576,2024-03-27,2024-03-27 00:00:00,NaN,39.65,2.17,39.65,39.79,0,29744,7816,00:00:00,2024-03-27,2024-03-27 23:50:00,2024-03-27 23:50:00,83
513577,2024-03-28,2024-03-28 00:00:00,NaN,39.69,6.25,39.76,39.85,0,32470,7816,00:00:00,2024-03-28,2024-03-28 23:50:00,2024-03-28 23:50:00,60

In [10]:
combined_df

,Index,Cow,Grp.,Gyn.,Lact.,DIM,Cond.,Cond..1,Cond..2,Avg.,...,Daily,Daily.1,Daily.2,Breed.,After,Flow rate,Flow rate.1,Flow rate.2,Unnamed: 20,date
0,1.0,441.0,5.0,Pregnant,3,159.0,--,9.9,9.7,9.6,...,36.2,--,--,1,108,--,3.5,3.6,NaN,2024-03-04
1,2.0,444.0,5.0,Bred,3,147.0,--,8.7,8.4,8.7,...,38.2,--,--,4,12,--,4.7,4.2,NaN,2024-03-04
2,3.0,445.0,1.0,Bred,4,226.0,--,10.2,10.1,9.9,...,53.6,--,--,4,7,--,6.4,4.6,NaN,2024-03-04
3,4.0,467.0,1.0,Pregnant,3,362.0,--,11.1,10.7,10.8,...,11.3,--,--,3,222,--,2.0,1.6,NaN,2024-03-04
4,5.0,529.0,1.0,Fresh,4,50.0,--,9.2,9.1,9.0,...,66.8,--,--,--,--,--,6.0,5.7,NaN,2024-03-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1845,1846.0,50224.0,1.0,Bred,6,161.0,--,8.4,8.9,8.3,...,36.8,39.3,-6.4,2,48,--,6.4,6.5,NaN,2024-01-22
1846,1847.0,50225.0,1.0,Bred,6,181.0,--,9.1,--,8.8,...,17.3,57.1,-69.7,1,29,--,3.8,--,NaN,2024-01-22
1847,1848.0,50226.0,1.0,Bred,6,181.0,--,--,--,8.6,...,--,47.8,--,2,57,--,--,--,NaN,2024-01-22
1848,1849.0,50227.0,1.0,Pregnant,6,176.0,--,--,8.0,7.8,...,17.2,44.6,-61.4,1,74,--,--,3.6,NaN,2024-01-22
1849,1850.0,50228.0,1.0,Fresh,6,172.0,--,8.2,8.2,8.0,...,39.8,36.8,8.1,--,--,--,5.5,5.9,NaN,2024-01-22

In [11]:
temp_data=[]
for animal_id, data_animal in master_sheet.groupby('ID'):
    start_date= data_animal.sort_values('date')['date'][-1]-timedelata('30d')
    end_date= start_date+ timedelata('30d')
    for animal_id1, data_animal1 in merged_df.groupby('animal_id'):
        data_to_get1= data_animal1[data_animal1['date_x']>start_date & <end_date]
        for animal_id2, data_animal2 in combined_df.groupby('Cow'):
            data_to_get2= data_animal2[data_animal2['date']>start_date & <end_date]
            for animal_id3, data_animal3 in one_month_before.groupby('Animal_ID'):
                data_to_get3= data_animal3[data_animal3['Date']>start_date & <end_date] 
                if animal_id= animal_id1 =animal_id2 =animal_id3
                data_animal.merge(data_animal1, data_animal2, data_animal3)
                data_animal.append(temp_df)

SyntaxError: invalid syntax (1103335973.py, line 6)

In [107]:
len(set(list(merged_df.animal_id.unique())) & set(list(combined_df.Cow.unique())) & set(list(master_sheet.ID.unique())))

103

,Index,Cow,Grp.,Gyn.,Lact.,DIM,Cond.,Cond..1,Cond..2,Avg.,...,Daily,Daily.1,Daily.2,Breed.,After,Flow rate,Flow rate.1,Flow rate.2,Unnamed: 20,date
0,1.0,441,5.0,Pregnant,3,159.0,--,9.9,9.7,9.6,...,36.2,--,--,1,108,--,3.5,3.6,NaN,2024-03-04
1,2.0,444,5.0,Bred,3,147.0,--,8.7,8.4,8.7,...,38.2,--,--,4,12,--,4.7,4.2,NaN,2024-03-04
2,3.0,445,1.0,Bred,4,226.0,--,10.2,10.1,9.9,...,53.6,--,--,4,7,--,6.4,4.6,NaN,2024-03-04
3,4.0,467,1.0,Pregnant,3,362.0,--,11.1,10.7,10.8,...,11.3,--,--,3,222,--,2.0,1.6,NaN,2024-03-04
4,5.0,529,1.0,Fresh,4,50.0,--,9.2,9.1,9.0,...,66.8,--,--,--,--,--,6.0,5.7,NaN,2024-03-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1845,1846.0,50224,1.0,Bred,6,161.0,--,8.4,8.9,8.3,...,36.8,39.3,-6.4,2,48,--,6.4,6.5,NaN,2024-01-22
1846,1847.0,50225,1.0,Bred,6,181.0,--,9.1,--,8.8,...,17.3,57.1,-69.7,1,29,--,3.8,--,NaN,2024-01-22
1847,1848.0,50226,1.0,Bred,6,181.0,--,--,--,8.6,...,--,47.8,--,2,57,--,--,--,NaN,2024-01-22
1848,1849.0,50227,1.0,Pregnant,6,176.0,--,--,8.0,7.8,...,17.2,44.6,-61.4,1,74,--,--,3.6,NaN,2024-01-22
1849,1850.0,50228,1.0,Fresh,6,172.0,--,8.2,8.2,8.0,...,39.8,36.8,8.1,--,--,--,5.5,5.9,NaN,2024-01-22

In [113]:
len(set(list(combined_df.Cow.unique())) & set(list(master_sheet.ID.unique())))

216

In [97]:
import pandas as pd
from datetime import timedelta

# ==========================================
# 1. PRE-PROCESSING (DO THIS ONCE ONLY)
# ==========================================

# A. Convert IDs to Integers
# We coerce errors to NaN, fill NaNs with -1 (or 0), then convert to Integer
cols_to_fix = [
    (master_sheet, 'ID'), 
    (merged_df, 'animal_id'), 
    (combined_df, 'Cow'), 
    (one_month_before, 'Animal_ID')
]

for df, col in cols_to_fix:
    # Convert to numeric, turn errors to NaN, fill NaN with -1, make int
    df[col] = pd.to_numeric(df[col]).astype(int)

# B. Convert Dates to "Midnight" (00:00:00)
# .dt.normalize() removes the time component but keeps it as a valid datetime object
master_sheet['date'] = pd.to_datetime(master_sheet['date']).dt.normalize()
merged_df['date_x'] = pd.to_datetime(merged_df['date_x']).dt.normalize()
combined_df['date'] = pd.to_datetime(combined_df['date']).dt.normalize()
one_month_before['Date'] = pd.to_datetime(one_month_before['Date']).dt.normalize()

# ==========================================
# 2. THE LOOP
# ==========================================

temp_data = []

# Iterate through Master Sheet
for animal_id, data_animal in master_sheet.groupby('ID'):
    
    if data_animal.empty: continue
    
    # Calculate Window (using the normalized dates)
    # Note: removed the extra '))' from your original code
    last_date = data_animal.sort_values('date')['date'].iloc[-1]
    start_date = last_date - timedelta(days=60)
    end_date = last_date + timedelta(days=30)
    
    # Filter Subsets 
    # Since we fixed the dates at the top, we don't need to convert them here.
    
    subset1 = merged_df[
        (merged_df['animal_id'] == animal_id) & 
        (merged_df['date_x'] > start_date) & 
        (merged_df['date_x'] < end_date)
    ]
    
    subset2 = combined_df[
        (combined_df['Cow'] == animal_id) & 
        (combined_df['date'] > start_date) & 
        (combined_df['date'] < end_date)
    ]
    
    subset3 = one_month_before[
        (one_month_before['Animal_ID'] == animal_id) & 
        (one_month_before['Date'] > start_date) & 
        (one_month_before['Date'] < end_date)
    ]

    temp=subset1.merge(subset2, left_on=['animal_id', 'date_x'], right_on=['Cow', 'date'], how='outer')
    temp2= temp.merge(subset3, left_on=['animal_id', 'date_x'], right_on=['Animal_ID', 'Date'], how='outer')
    day0_rows = data_animal[data_animal['day'] == 0]

    if day0_rows.empty:
        #raise ValueError("ERROR: data_animal has NO rows where day == 0. Cannot compute day_0.")
        print('skipping animal')
        continue
    else:
        day_0 = day0_rows['date'].iloc[0]

        temp2['day'] = (temp2['date_x'] - day_0).dt.days

        
        cols = ['Bacteria', 'Gram', 'Type', 'baccure']
        reference = data_animal.set_index('day')[cols].to_dict('index')
        for c in cols:
            temp2['Bacteria']= None
        for i, row in temp2.iterrows():
            d= row['day']

            valid_keys=[k for k in reference.keys() if k<=d]
            if len(valid_keys) == 0:
            # If day < first checkpoint (day 0), use day 0
                ref_day = 0
            else:
                ref_day = max(valid_keys)
        
        # Fill the columns
            for c in cols:
                temp2.at[i, c] = reference[ref_day][c]
    temp_data.append(temp2)

skipping animal
skipping animal
skipping animal

In [98]:
final_animal_df= pd.concat(temp_data)

In [99]:
final_animal_df['animal_id'].nunique()

102

In [111]:
final_animal_df[final_animal_df['Cow']==893]

,date_x,timestamp_x,pH,temperature C,activity,Temp Without Drinkcycles,Normal temperature,Heat index,rum_index,animal_id,...,Days_in_Milk,Age_Days,Lactation_Num,Yield(gr),Conductivity,Milking_Time(seconds),Bacteria,Gram,Type,baccure
46,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
47,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
48,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
49,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
51,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
52,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
53,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
54,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
55,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
56,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
57,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
58,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
59,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
60,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
61,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
62,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
63,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
64,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
65,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
66,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
67,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
68,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
69,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
70,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
71,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
72,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
73,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
74,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0

In [108]:
final_animal_df.to_csv('/home/rajesh/work/bhuwan/data/merged_df_30_60.csv')

In [ ]:
day_0=data_animal[data_animal['day']==0]['date'].iloc[0]
temp2['day'] = (temp2['date_x'] - day_0).dt.days

In [70]:
master_sheet.columns

Index(['ID', 'Grp.', 'Lact.', 'Parity', 'dim', 'Lactstage', 'Avg.Conductivity',
       'DailyYield', 'Daily avge yield', 'Daily yield (%)', 'day', 'Trt',
       'Batch', 'Bacteria', 'Gram', 'Type', 'baccure', 'date'],
      dtype='object')

In [ ]:
columns_to_fill=['Bacteria', 'Gram', 'Type', 'baccure']

0    -29
1    -28
2    -27
3    -26
4    -25
      ..
84    55
85    56
86    57
87    58
88    59
Name: day, Length: 89, dtype: int64

In [50]:
temp=subset1.merge(subset2, left_on=['animal_id', 'date_x'], right_on=['Cow', 'date'], how='outer')

In [56]:
temp2= temp.merge(subset3, left_on=['animal_id', 'date_x'], right_on=['Animal_ID', 'Date'], how='outer')

In [57]:
temp2

,date_x,timestamp_x,pH,temperature C,activity,Temp Without Drinkcycles,Normal temperature,Heat index,rum_index,animal_id,...,date,Animal_ID,Group_ID,Date,Days_in_Milk,Age_Days,Lactation_Num,Yield(gr),Conductivity,Milking_Time(seconds)
0,2023-12-07,2023-12-07 00:00:00,NaN,39.05,5.38,39.09,39.45,0,29594,50218,...,NaT,50218.0,1.0,2023-12-07,110.0,2852.0,6.0,28299.0,10.1,236.0
1,2023-12-08,2023-12-08 00:00:00,NaN,39.08,3.9,39.17,39.42,0,26182,50218,...,NaT,50218.0,1.0,2023-12-08,111.0,2853.0,6.0,31832.0,9.8,235.0
2,2023-12-09,2023-12-09 00:00:00,NaN,38.18,6.82,38.94,39.37,0,25800,50218,...,NaT,50218.0,1.0,2023-12-09,112.0,2854.0,6.0,28166.0,10.4,236.0
3,2023-12-10,2023-12-10 00:00:00,NaN,35.78,5.74,38.98,39.26,0,30650,50218,...,NaT,50218.0,1.0,2023-12-10,113.0,2855.0,6.0,30113.0,10.8,245.0
4,2023-12-11,2023-12-11 00:00:00,NaN,39.41,3.93,39.46,39.22,0,30324,50218,...,NaT,50218.0,1.0,2023-12-11,114.0,2856.0,6.0,27857.0,9.8,218.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2024-02-29,2024-02-29 00:00:00,NaN,38.86,10.2,38.85,39.36,0,31185,50218,...,2024-02-29,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
85,2024-03-01,2024-03-01 00:00:00,NaN,38.86,14.69,38.84,39.33,0,24618,50218,...,2024-03-01,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
86,2024-03-02,2024-03-02 00:00:00,NaN,34.76,11.36,39.23,39.33,0,28544,50218,...,2024-03-02,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
87,2024-03-03,2024-03-03 00:00:00,NaN,36.91,9.05,39.11,39.41,0,30136,50218,...,2024-03-03,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
88,2024-03-04,2024-03-04 00:00:00,NaN,38.47,6.47,38.91,39.36,0,26041,50218,...,2024-03-04,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(final_df.date_y.unique())

106

In [ ]:
for animal_id, animal_data in final_df.groupby('ID'):
    break

In [ ]:
final_df.groupby('ID')['date_x'].nunique().reset_index().max()

ID        50218
date_x       59
dtype: int64

In [ ]:
final_df[final_df['ID']==893]['date']

193   2023-12-07
194   2023-12-08
195   2023-12-09
196   2023-12-10
197   2023-12-11
         ...
256   2024-02-08
257   2024-02-09
258   2024-02-10
259   2024-02-11
260   2024-02-12
Name: date, Length: 68, dtype: datetime64[ns]

In [12]:
import pandas as pd
from datetime import timedelta

temp_data = []

for animal_id, data_animal in master_sheet.groupby('ID'):
    
    if data_animal.empty: continue
    
    # 1. Define Window
    last_date = data_animal.sort_values('date')['date'].iloc[-1]
    start_date = last_date - timedelta(days=30)
    end_date = last_date + timedelta(days=30)
    
    # 2. Filter Subsets
    subset1 = merged_df[
        (merged_df['animal_id'] == animal_id) & 
        (merged_df['date_x'] > start_date) & 
        (merged_df['date_x'] < end_date)
    ]
    
    subset2 = combined_df[
        (combined_df['Cow'] == animal_id) & 
        (combined_df['date'] > start_date) & 
        (combined_df['date'] < end_date)
    ]
    
    subset3 = one_month_before[
        (one_month_before['Animal_ID'] == animal_id) & 
        (one_month_before['Date'] > start_date) & 
        (one_month_before['Date'] < end_date)
    ]

    # 3. CHAINED OUTER MERGE WITH PATCHING
    
    # --- Merge 1 ---
    merged_result = data_animal.merge(
        subset1, 
        left_on=['ID', 'date'], 
        right_on=['animal_id', 'date_x'], 
        how='outer',
        suffixes=('', '_merged') 
    )
    # CRITICAL STEP: Fill the NaN 'ID' and 'date' so the next merge works
    merged_result['ID'] = merged_result['ID'].fillna(merged_result['animal_id'])
    merged_result['date'] = merged_result['date'].fillna(merged_result['date_x'])
    
    # --- Merge 2 ---
    merged_result = merged_result.merge(
        subset2, 
        left_on=['ID', 'date'], 
        right_on=['Cow', 'date'], 
        how='outer', 
        suffixes=('', '_combined')
    )
    # Patch again
    merged_result['ID'] = merged_result['ID'].fillna(merged_result['Cow'])
    # No need to patch date here if 'Cow' matches 'ID' implies the date is valid, 
    # but safest to patch date if subset2 introduced a new date:
    # Note: subset2 'date' column name clashes with master 'date'. 
    # Pandas likely renamed subset2's date to 'date_combined'. Check your column names.
    if 'date_combined' in merged_result.columns:
         merged_result['date'] = merged_result['date'].fillna(merged_result['date_combined'])

    # --- Merge 3 ---
    merged_result = merged_result.merge(
        subset3, 
        left_on=['ID', 'date'], 
        right_on=['Animal_ID', 'Date'], 
        how='outer',
        suffixes=('', '_month_prev')
    )
    # Patch one last time
    merged_result['ID'] = merged_result['ID'].fillna(merged_result['Animal_ID'])
    merged_result['date'] = merged_result['date'].fillna(merged_result['Date'])

    temp_data.append(merged_result)

# 4. Compile
if temp_data:
    final_df = pd.concat(temp_data, ignore_index=True)
    # Cleanup: Ensure ID is integer (Outer join converts int to float because of NaNs)
    final_df['ID'] = final_df['ID'].fillna(-1).astype(int)
    print("Outer merge complete.")

TypeError: unsupported operand type(s) for -: 'str' and 'datetime.timedelta'