In [1]:
import pandas as pd
import numpy as np 
import os

In [2]:
master_sheet= pd.read_csv('/home/rajesh/work/bhuwan/data/AFI_conductivity and milk yield.csv')

In [3]:

import datetime 
import os
import pandas as pd
from datetime import datetime
temp_file=[]
directory='/home/rajesh/work/bhuwan'
afi_list = []


for files in os.listdir(directory):
    if files.startswith('TAMU'):
        file_path = os.path.join(directory, files)
        
        # Extract date from filename
        filename = os.path.basename(files)  # Get only the filename
        date_str = filename.split(" - ")[1].split(" ")[0]  # Extract '01-01-2024'

        # Convert to datetime object
        file_date = datetime.strptime(date_str, "%m-%d-%Y")

        # Read CSV and process
        temp_df = pd.read_csv(file_path)
        temp_df = temp_df.loc[2:].reset_index(drop=True)  # Drop first two rows
        temp_df["date"] = file_date  # Add date column

        afi_list.append(temp_df)

In [4]:
combined_df= pd.concat(afi_list)

In [5]:
one_month_before= pd.read_excel('/home/rajesh/work/bhuwan/data/Posthmus dairy daily milk data_20200101-20231231.xlsx', sheet_name='20230701-20231231')

In [6]:
master_sheet.groupby(['ID'])['date'].unique().to_dict()

{445: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 800: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 871: array(['12/15/2023', '12/16/2023', '12/17/2023', '12/18/2023',
        '12/19/2023', '12/20/2023', '12/21/2023', '12/22/2023',
        '12/23/2023', '12/24/2023', '12/26/2023', '12/27/2023',
        '12/28/2023', '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024',
        '1/2/2024', '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024',
        '1/7/2024', '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024',
        '1/12/2024', '1/13/2024', '1/14/2024'], dtype=object),
 893: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 919: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 971: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1012: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1026: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1174: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1561: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1583: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1606: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1632: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1643: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1660: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1668: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1674: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1680: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1757: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1877: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1885: array(['1/1/2024', '1/2/2024', '1/3/2024', '1/4/2024', '1/5/2024',
        '1/6/2024', '1/7/2024', '1/8/2024', '1/9/2024', '1/10/2024',
        '1/11/2024', '1/12/2024', '1/13/2024', '1/14/2024', '1/15/2024',
        '1/16/2024', '1/17/2024', '1/18/2024', '1/19/2024', '1/20/2024',
        '1/21/2024', '1/22/2024', '1/23/2024', '1/24/2024', '1/25/2024',
        '1/26/2024', '1/27/2024', '1/28/2024', '1/29/2024', '1/30/2024',
        '1/31/2024', '2/1/2024', '2/2/2024', '2/3/2024', '2/4/2024'],
       dtype=object),
 1896: array(['1/1/2024', '1/2/2024', '1/3/2024', '1/4/2024', '1/5/2024',
        '1/6/2024', '1/7/2024', '1/8/2024', '1/9/2024', '1/10/2024',
        '1/11/2024', '1/12/2024', '1/13/2024', '1/14/2024', '1/15/2024',
        '1/16/2024', '1/17/2024', '1/18/2024', '1/19/2024', '1/20/2024',
        '1/21/2024', '1/22/2024', '1/23/2024', '1/24/2024', '1/25/2024',
        '1/26/2024', '1/27/2024', '1/28/2024', '1/29/2024', '1/30/2024',
        '1/31/2024', '2/1/2024', '2/2/2024', '2/3/2024', '2/4/2024'],
       dtype=object),
 1906: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1927: array(['1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1928: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 1934: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 1950: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 2400: array(['1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024', '2/5/2024', '2/6/2024',
        '2/7/2024', '2/8/2024', '2/9/2024', '2/10/2024', '2/11/2024',
        '2/12/2024', '2/13/2024', '2/14/2024', '2/15/2024', '2/16/2024',
        '2/17/2024', '2/18/2024', '2/19/2024', '2/20/2024', '2/21/2024',
        '2/22/2024', '2/23/2024', '2/24/2024', '2/25/2024', '2/26/2024',
        '2/27/2024', '2/28/2024', '2/29/2024'], dtype=object),
 2649: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 3572: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024'], dtype=object),
 3620: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 3990: array(['1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',
        '1/28/2024', '1/29/2024', '1/30/2024', '1/31/2024', '2/1/2024',
        '2/2/2024', '2/3/2024', '2/4/2024', '2/5/2024', '2/6/2024',
        '2/7/2024', '2/8/2024', '2/9/2024', '2/10/2024', '2/11/2024',
        '2/12/2024', '2/13/2024', '2/14/2024', '2/15/2024', '2/16/2024',
        '2/17/2024', '2/18/2024', '2/19/2024', '2/20/2024', '2/21/2024',
        '2/22/2024', '2/23/2024', '2/24/2024', '2/25/2024', '2/26/2024',
        '2/27/2024', '2/28/2024', '2/29/2024'], dtype=object),
 4018: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 4031: array(['12/7/2023', '12/8/2023', '12/9/2023', '12/10/2023', '12/11/2023',
        '12/12/2023', '12/13/2023', '12/14/2023', '12/15/2023',
        '12/16/2023', '12/17/2023', '12/18/2023', '12/19/2023',
        '12/20/2023', '12/21/2023', '12/22/2023', '12/23/2023',
        '12/24/2023', '12/26/2023', '12/27/2023', '12/28/2023',
        '12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024'], dtype=object),
 4143: array(['12/29/2023', '12/30/2023', '12/31/2023', '1/1/2024', '1/2/2024',
        '1/3/2024', '1/4/2024', '1/5/2024', '1/6/2024', '1/7/2024',
        '1/8/2024', '1/9/2024', '1/10/2024', '1/11/2024', '1/12/2024',
        '1/13/2024', '1/14/2024', '1/15/2024', '1/16/2024', '1/17/2024',
        '1/18/2024', '1/19/2024', '1/20/2024', '1/21/2024', '1/22/2024',
        '1/23/2024', '1/24/2024', '1/25/2024', '1/26/2024', '1/27/2024',

,Animal_ID,Group_ID,Date,Days_in_Milk,Age_Days,Lactation_Num,Yield(gr),Conductivity,Milking_Time(seconds)
0,441,1,2023-07-01,249,1434,2,20476.0,9.2,265.0
1,467,2,2023-07-01,115,1898,3,27256.0,10.4,283.0
2,650,1,2023-07-01,249,1848,3,20376.0,9.5,224.0
3,648,3,2023-07-01,30,1848,4,0.0,0.0,0.0
4,444,1,2023-07-01,312,1458,2,12436.0,8.9,184.0
...,...,...,...,...,...,...,...,...,...
389869,1476397724,8,2023-12-31,314,1011,1,0.0,0.0,0.0
389870,1476397723,8,2023-12-31,359,1436,2,0.0,0.0,0.0
389871,1476397722,8,2023-12-31,60,1439,3,0.0,0.0,0.0
389872,1476397721,8,2023-12-31,368,1748,3,0.0,0.0,0.0
389873,1476397664,1,2023-12-31,221,2291,4,30326.0,9.0,296.0

In [ ]:
from datetime import time
main_dir= '/home/rajesh/work/bhuwan/data/smaxtec/smaxtec'
files = os.listdir(main_dir)
daily_df = []
minute_df = []

for i, file in enumerate(files):

    print(f'working on {i} file')
    if file.endswith('xlsx'):
      temp_path = os.path.join(main_dir, file)
      temp_file = pd.read_excel(temp_path, sheet_name=None)

      for key, value in temp_file.items():
          names = key.split('_')

          animal_id = names[0]
          file_daily = value.loc[9:, ::]
          file_daily.columns = file_daily.iloc[0]
          file_daily = file_daily.drop(9)
          file_daily['animal_id'] = names[0]
          print(animal_id)
          if key.endswith('daily'):
              daily_df.append(file_daily)
          else:
              file_daily['date']= pd.to_datetime(file_daily['date'])
              file_daily['time']= file_daily['date'].dt.time
              file_daily['day']= file_daily['date'].dt.date
              file_daily= file_daily[file_daily['time']==time(00,00,00)]



              minute_df.append(file_daily)

daily_df_merged= pd.concat(daily_df, axis=0)
minute_df_merged= pd.concat(minute_df, axis=0)
daily_df_merged['date']= pd.to_datetime(daily_df_merged['date'])
daily_df_merged['day']= daily_df_merged['date'].dt.date
daily_df_merged.columns
merged_df = minute_df_merged.merge(daily_df_merged,
                                  on=['animal_id', 'day'],
                                  how='inner',
                                  )

daily_df_merged= pd.concat(daily_df, axis=0)
minute_df_merged= pd.concat(minute_df, axis=0)
daily_df_merged['date']= pd.to_datetime(daily_df_merged['date'])
daily_df_merged['day']= daily_df_merged['date'].dt.date
daily_df_merged.columns
merged_df = minute_df_merged.merge(daily_df_merged,
                                  on=['animal_id', 'day'],
                                  how='inner',
                                  )

working on 0 file

In [9]:
merged_df

9,date_x,timestamp_x,pH,temperature C,activity,Temp Without Drinkcycles,Normal temperature,Heat index,rum_index,animal_id,time,day,date_y,timestamp_y,water_intake in l
0,2022-10-28,2022-10-28 00:00:00,NaN,38.67,6.46,39.17,NaN,NaN,NaN,6166,00:00:00,2022-10-28,2022-10-28 23:50:00,2022-10-28 23:50:00,33
1,2022-10-29,2022-10-29 00:00:00,NaN,39.39,6.1,39.41,NaN,NaN,NaN,6166,00:00:00,2022-10-29,2022-10-29 23:50:00,2022-10-29 23:50:00,57
2,2022-10-30,2022-10-30 00:00:00,NaN,39.83,5.1,39.81,NaN,NaN,26700,6166,00:00:00,2022-10-30,2022-10-30 23:50:00,2022-10-30 23:50:00,70
3,2022-10-31,2022-10-31 00:00:00,NaN,39.05,3.62,39.68,NaN,NaN,34278,6166,00:00:00,2022-10-31,2022-10-31 23:50:00,2022-10-31 23:50:00,49
4,2022-11-01,2022-11-01 00:00:00,NaN,39.35,4.14,39.29,39.7,NaN,32215,6166,00:00:00,2022-11-01,2022-11-01 23:50:00,2022-11-01 23:50:00,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513573,2024-03-24,2024-03-24 00:00:00,NaN,39.89,11.04,39.9,39.7,0,29340,7816,00:00:00,2024-03-24,2024-03-24 23:50:00,2024-03-24 23:50:00,76
513574,2024-03-25,2024-03-25 00:00:00,NaN,40.1,5.43,40.05,39.75,0,33002,7816,00:00:00,2024-03-25,2024-03-25 23:50:00,2024-03-25 23:50:00,62
513575,2024-03-26,2024-03-26 00:00:00,NaN,40.03,3.78,39.99,39.77,0,30881,7816,00:00:00,2024-03-26,2024-03-26 23:50:00,2024-03-26 23:50:00,79
513576,2024-03-27,2024-03-27 00:00:00,NaN,39.65,2.17,39.65,39.79,0,29744,7816,00:00:00,2024-03-27,2024-03-27 23:50:00,2024-03-27 23:50:00,83
513577,2024-03-28,2024-03-28 00:00:00,NaN,39.69,6.25,39.76,39.85,0,32470,7816,00:00:00,2024-03-28,2024-03-28 23:50:00,2024-03-28 23:50:00,60

In [10]:
combined_df

,Index,Cow,Grp.,Gyn.,Lact.,DIM,Cond.,Cond..1,Cond..2,Avg.,...,Daily,Daily.1,Daily.2,Breed.,After,Flow rate,Flow rate.1,Flow rate.2,Unnamed: 20,date
0,1.0,441.0,5.0,Pregnant,3,159.0,--,9.9,9.7,9.6,...,36.2,--,--,1,108,--,3.5,3.6,NaN,2024-03-04
1,2.0,444.0,5.0,Bred,3,147.0,--,8.7,8.4,8.7,...,38.2,--,--,4,12,--,4.7,4.2,NaN,2024-03-04
2,3.0,445.0,1.0,Bred,4,226.0,--,10.2,10.1,9.9,...,53.6,--,--,4,7,--,6.4,4.6,NaN,2024-03-04
3,4.0,467.0,1.0,Pregnant,3,362.0,--,11.1,10.7,10.8,...,11.3,--,--,3,222,--,2.0,1.6,NaN,2024-03-04
4,5.0,529.0,1.0,Fresh,4,50.0,--,9.2,9.1,9.0,...,66.8,--,--,--,--,--,6.0,5.7,NaN,2024-03-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1845,1846.0,50224.0,1.0,Bred,6,161.0,--,8.4,8.9,8.3,...,36.8,39.3,-6.4,2,48,--,6.4,6.5,NaN,2024-01-22
1846,1847.0,50225.0,1.0,Bred,6,181.0,--,9.1,--,8.8,...,17.3,57.1,-69.7,1,29,--,3.8,--,NaN,2024-01-22
1847,1848.0,50226.0,1.0,Bred,6,181.0,--,--,--,8.6,...,--,47.8,--,2,57,--,--,--,NaN,2024-01-22
1848,1849.0,50227.0,1.0,Pregnant,6,176.0,--,--,8.0,7.8,...,17.2,44.6,-61.4,1,74,--,--,3.6,NaN,2024-01-22
1849,1850.0,50228.0,1.0,Fresh,6,172.0,--,8.2,8.2,8.0,...,39.8,36.8,8.1,--,--,--,5.5,5.9,NaN,2024-01-22

In [11]:
temp_data=[]
for animal_id, data_animal in master_sheet.groupby('ID'):
    start_date= data_animal.sort_values('date')['date'][-1]-timedelata('30d')
    end_date= start_date+ timedelata('30d')
    for animal_id1, data_animal1 in merged_df.groupby('animal_id'):
        data_to_get1= data_animal1[data_animal1['date_x']>start_date & <end_date]
        for animal_id2, data_animal2 in combined_df.groupby('Cow'):
            data_to_get2= data_animal2[data_animal2['date']>start_date & <end_date]
            for animal_id3, data_animal3 in one_month_before.groupby('Animal_ID'):
                data_to_get3= data_animal3[data_animal3['Date']>start_date & <end_date] 
                if animal_id= animal_id1 =animal_id2 =animal_id3
                data_animal.merge(data_animal1, data_animal2, data_animal3)
                data_animal.append(temp_df)

SyntaxError: invalid syntax (1103335973.py, line 6)

In [107]:
len(set(list(merged_df.animal_id.unique())) & set(list(combined_df.Cow.unique())) & set(list(master_sheet.ID.unique())))

103

,Index,Cow,Grp.,Gyn.,Lact.,DIM,Cond.,Cond..1,Cond..2,Avg.,...,Daily,Daily.1,Daily.2,Breed.,After,Flow rate,Flow rate.1,Flow rate.2,Unnamed: 20,date
0,1.0,441,5.0,Pregnant,3,159.0,--,9.9,9.7,9.6,...,36.2,--,--,1,108,--,3.5,3.6,NaN,2024-03-04
1,2.0,444,5.0,Bred,3,147.0,--,8.7,8.4,8.7,...,38.2,--,--,4,12,--,4.7,4.2,NaN,2024-03-04
2,3.0,445,1.0,Bred,4,226.0,--,10.2,10.1,9.9,...,53.6,--,--,4,7,--,6.4,4.6,NaN,2024-03-04
3,4.0,467,1.0,Pregnant,3,362.0,--,11.1,10.7,10.8,...,11.3,--,--,3,222,--,2.0,1.6,NaN,2024-03-04
4,5.0,529,1.0,Fresh,4,50.0,--,9.2,9.1,9.0,...,66.8,--,--,--,--,--,6.0,5.7,NaN,2024-03-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1845,1846.0,50224,1.0,Bred,6,161.0,--,8.4,8.9,8.3,...,36.8,39.3,-6.4,2,48,--,6.4,6.5,NaN,2024-01-22
1846,1847.0,50225,1.0,Bred,6,181.0,--,9.1,--,8.8,...,17.3,57.1,-69.7,1,29,--,3.8,--,NaN,2024-01-22
1847,1848.0,50226,1.0,Bred,6,181.0,--,--,--,8.6,...,--,47.8,--,2,57,--,--,--,NaN,2024-01-22
1848,1849.0,50227,1.0,Pregnant,6,176.0,--,--,8.0,7.8,...,17.2,44.6,-61.4,1,74,--,--,3.6,NaN,2024-01-22
1849,1850.0,50228,1.0,Fresh,6,172.0,--,8.2,8.2,8.0,...,39.8,36.8,8.1,--,--,--,5.5,5.9,NaN,2024-01-22

In [113]:
len(set(list(combined_df.Cow.unique())) & set(list(master_sheet.ID.unique())))

216

In [66]:
import pandas as pd
from datetime import timedelta

# ==========================================
# 1. PRE-PROCESSING (DO THIS ONCE ONLY)
# ==========================================

# A. Convert IDs to Integers
# We coerce errors to NaN, fill NaNs with -1 (or 0), then convert to Integer
cols_to_fix = [
    (master_sheet, 'ID'), 
    #(merged_df, 'animal_id'), 
    (combined_df, 'Cow'), 
    (one_month_before, 'Animal_ID')
]

for df, col in cols_to_fix:
    df[col] = df[col].astype('string')

# B. Convert Dates to "Midnight" (00:00:00)
# .dt.normalize() removes the time component but keeps it as a valid datetime object
master_sheet['date'] = pd.to_datetime(master_sheet['date']).dt.normalize()
#merged_df['date_x'] = pd.to_datetime(merged_df['date_x']).dt.normalize()
combined_df['date'] = pd.to_datetime(combined_df['date']).dt.normalize()
one_month_before['Date'] = pd.to_datetime(one_month_before['Date']).dt.normalize()

# ==========================================
# 2. THE LOOP
# ==========================================

temp_data = []

# Iterate through Master Sheet
for animal_id, data_animal in master_sheet.groupby('ID'):
    
    if data_animal.empty: continue
    
    # Calculate Window (using the normalized dates)
    # Note: removed the extra '))' from your original code
    last_date = data_animal.sort_values('date')['date'].iloc[-1]
    start_date = last_date - timedelta(days=60)
    end_date = last_date + timedelta(days=30)
    
    # Filter Subsets 
    # Since we fixed the dates at the top, we don't need to convert them here.
    
    # subset1 = merged_df[
    #     (merged_df['animal_id'] == animal_id) & 
    #     (merged_df['date_x'] > start_date) & 
    #     (merged_df['date_x'] < end_date)
    # ]
    
    subset1 = combined_df[
        (combined_df['Cow'] == animal_id) & 
        (combined_df['date'] > start_date) & 
        (combined_df['date'] < end_date)
    ]
    
    subset2 = one_month_before[
        (one_month_before['Animal_ID'] == animal_id) & 
        (one_month_before['Date'] > start_date) & 
        (one_month_before['Date'] < end_date)
    ]

    #temp=subset1.merge(subset2, left_on=['animal_id', 'date_x'], right_on=['Cow', 'date'], how='outer')
    subset1 = subset1.rename(columns={"Cow": "Animal_ID", "date": "Date"})
    subset2 = subset2.rename(columns={"Animal_ID": "Animal_ID", "Date": "Date"})
    subset1["Date"] = subset1["Date"].astype(str)
    subset2["Date"] = subset2["Date"].astype(str)

    subset1["Animal_ID"] = subset1["Animal_ID"].astype(str)
    subset2["Animal_ID"] = subset2["Animal_ID"].astype(str)


    temp= pd.concat([subset1, subset2], ignore_index=True)
    day0_rows = data_animal[data_animal['day'] == 0]

    if day0_rows.empty:
        #raise ValueError("ERROR: data_animal has NO rows where day == 0. Cannot compute day_0.")
        print('skipping animal')
        continue
    else:
        day_0 = day0_rows['date'].iloc[0]
        temp['date']= pd.to_datetime(temp['Date'])
        temp['day'] = (temp['date'] - day_0).dt.days

        
        cols = ['Bacteria', 'Gram', 'Type', 'baccure']
        reference = data_animal.set_index('day')[cols].to_dict('index')
        for c in cols:
            temp['Bacteria']= None
        for i, row in temp.iterrows():
            d= row['day']

            valid_keys=[k for k in reference.keys() if k<=d]
            if len(valid_keys) == 0:
            # If day < first checkpoint (day 0), use day 0
                ref_day = 0
            else:
                ref_day = max(valid_keys)
        
        # Fill the columns
            for c in cols:
                temp.at[i, c] = reference[ref_day][c]
    temp_data.append(temp)

skipping animal
skipping animal
skipping animal

In [67]:
afi_df= pd.concat(temp_data)

In [49]:
one_month_before.columns

Index(['Animal_ID', 'Group_ID', 'Date', 'Days_in_Milk', 'Age_Days',
       'Lactation_Num', 'Yield(gr)', 'Conductivity', 'Milking_Time(seconds)'],
      dtype='object')

In [68]:
afi_df[afi_df['Animal_ID']=="919"]

,Index,Animal_ID,Grp.,Gyn.,Lact.,DIM,Cond.,Cond..1,Cond..2,Avg.,...,Lactation_Num,Yield(gr),Conductivity,Milking_Time(seconds),date,day,Bacteria,Gram,Type,baccure
0,70.0,919,4.0,Fresh,4,84.0,--,9.7,9.5,9.7,...,NaN,NaN,NaN,NaN,2024-01-16,33,MBG,P,C,1.0
1,68.0,919,4.0,Fresh,4,101.0,--,9.8,10.2,9.8,...,NaN,NaN,NaN,NaN,2024-02-02,50,MBG,P,C,1.0
2,68.0,919,4.0,Fresh,4,110.0,--,10.5,9.5,10.1,...,NaN,NaN,NaN,NaN,2024-02-11,59,MBG,P,C,1.0
3,68.0,919,4.0,Fresh,4,96.0,--,--,9.7,9.8,...,NaN,NaN,NaN,NaN,2024-01-28,45,MBG,P,C,1.0
4,69.0,919,4.0,Fresh,4,100.0,10.1,10.3,--,9.9,...,NaN,NaN,NaN,NaN,2024-02-01,49,MBG,P,C,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,36832.0,9.9,296.0,2023-12-27,13,MBG,P,C,1.0
71,NaN,919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,39136.0,9.6,303.0,2023-12-28,14,MBG,P,C,1.0
72,NaN,919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,32412.0,9.3,283.0,2023-12-29,15,MBG,P,C,1.0
73,NaN,919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,33178.0,9.6,312.0,2023-12-30,16,MBG,P,C,1.0
74,NaN,919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,35035.0,9.4,300.0,2023-12-31,17,MBG,P,C,1.0

In [98]:
final_animal_df= pd.concat(temp_data)

In [99]:
final_animal_df['animal_id'].nunique()

102

In [111]:
final_animal_df[final_animal_df['Cow']==893]

,date_x,timestamp_x,pH,temperature C,activity,Temp Without Drinkcycles,Normal temperature,Heat index,rum_index,animal_id,...,Days_in_Milk,Age_Days,Lactation_Num,Yield(gr),Conductivity,Milking_Time(seconds),Bacteria,Gram,Type,baccure
46,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
47,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
48,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
49,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
51,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
52,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
53,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
54,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
55,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
56,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
57,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
58,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
59,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
60,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
61,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
62,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
63,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
64,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
65,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
66,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
67,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
68,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
69,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
70,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
71,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
72,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
73,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0
74,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SU,P,E,1.0

In [108]:
final_animal_df.to_csv('/home/rajesh/work/bhuwan/data/merged_df_30_60.csv')

In [ ]:
day_0=data_animal[data_animal['day']==0]['date'].iloc[0]
temp2['day'] = (temp2['date_x'] - day_0).dt.days

In [70]:
master_sheet.columns

Index(['ID', 'Grp.', 'Lact.', 'Parity', 'dim', 'Lactstage', 'Avg.Conductivity',
       'DailyYield', 'Daily avge yield', 'Daily yield (%)', 'day', 'Trt',
       'Batch', 'Bacteria', 'Gram', 'Type', 'baccure', 'date'],
      dtype='object')

In [ ]:
columns_to_fill=['Bacteria', 'Gram', 'Type', 'baccure']

0    -29
1    -28
2    -27
3    -26
4    -25
      ..
84    55
85    56
86    57
87    58
88    59
Name: day, Length: 89, dtype: int64

In [50]:
temp=subset1.merge(subset2, left_on=['animal_id', 'date_x'], right_on=['Cow', 'date'], how='outer')

In [56]:
temp2= temp.merge(subset3, left_on=['animal_id', 'date_x'], right_on=['Animal_ID', 'Date'], how='outer')

In [57]:
temp2

,date_x,timestamp_x,pH,temperature C,activity,Temp Without Drinkcycles,Normal temperature,Heat index,rum_index,animal_id,...,date,Animal_ID,Group_ID,Date,Days_in_Milk,Age_Days,Lactation_Num,Yield(gr),Conductivity,Milking_Time(seconds)
0,2023-12-07,2023-12-07 00:00:00,NaN,39.05,5.38,39.09,39.45,0,29594,50218,...,NaT,50218.0,1.0,2023-12-07,110.0,2852.0,6.0,28299.0,10.1,236.0
1,2023-12-08,2023-12-08 00:00:00,NaN,39.08,3.9,39.17,39.42,0,26182,50218,...,NaT,50218.0,1.0,2023-12-08,111.0,2853.0,6.0,31832.0,9.8,235.0
2,2023-12-09,2023-12-09 00:00:00,NaN,38.18,6.82,38.94,39.37,0,25800,50218,...,NaT,50218.0,1.0,2023-12-09,112.0,2854.0,6.0,28166.0,10.4,236.0
3,2023-12-10,2023-12-10 00:00:00,NaN,35.78,5.74,38.98,39.26,0,30650,50218,...,NaT,50218.0,1.0,2023-12-10,113.0,2855.0,6.0,30113.0,10.8,245.0
4,2023-12-11,2023-12-11 00:00:00,NaN,39.41,3.93,39.46,39.22,0,30324,50218,...,NaT,50218.0,1.0,2023-12-11,114.0,2856.0,6.0,27857.0,9.8,218.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2024-02-29,2024-02-29 00:00:00,NaN,38.86,10.2,38.85,39.36,0,31185,50218,...,2024-02-29,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
85,2024-03-01,2024-03-01 00:00:00,NaN,38.86,14.69,38.84,39.33,0,24618,50218,...,2024-03-01,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
86,2024-03-02,2024-03-02 00:00:00,NaN,34.76,11.36,39.23,39.33,0,28544,50218,...,2024-03-02,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
87,2024-03-03,2024-03-03 00:00:00,NaN,36.91,9.05,39.11,39.41,0,30136,50218,...,2024-03-03,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
88,2024-03-04,2024-03-04 00:00:00,NaN,38.47,6.47,38.91,39.36,0,26041,50218,...,2024-03-04,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(final_df.date_y.unique())

106

In [ ]:
for animal_id, animal_data in final_df.groupby('ID'):
    break

In [ ]:
final_df.groupby('ID')['date_x'].nunique().reset_index().max()

ID        50218
date_x       59
dtype: int64

In [ ]:
final_df[final_df['ID']==893]['date']

193   2023-12-07
194   2023-12-08
195   2023-12-09
196   2023-12-10
197   2023-12-11
         ...
256   2024-02-08
257   2024-02-09
258   2024-02-10
259   2024-02-11
260   2024-02-12
Name: date, Length: 68, dtype: datetime64[ns]

In [12]:
import pandas as pd
from datetime import timedelta

temp_data = []

for animal_id, data_animal in master_sheet.groupby('ID'):
    
    if data_animal.empty: continue
    
    # 1. Define Window
    last_date = data_animal.sort_values('date')['date'].iloc[-1]
    start_date = last_date - timedelta(days=30)
    end_date = last_date + timedelta(days=30)
    
    # 2. Filter Subsets
    subset1 = merged_df[
        (merged_df['animal_id'] == animal_id) & 
        (merged_df['date_x'] > start_date) & 
        (merged_df['date_x'] < end_date)
    ]
    
    subset2 = combined_df[
        (combined_df['Cow'] == animal_id) & 
        (combined_df['date'] > start_date) & 
        (combined_df['date'] < end_date)
    ]
    
    subset3 = one_month_before[
        (one_month_before['Animal_ID'] == animal_id) & 
        (one_month_before['Date'] > start_date) & 
        (one_month_before['Date'] < end_date)
    ]

    # 3. CHAINED OUTER MERGE WITH PATCHING
    
    # --- Merge 1 ---
    merged_result = data_animal.merge(
        subset1, 
        left_on=['ID', 'date'], 
        right_on=['animal_id', 'date_x'], 
        how='outer',
        suffixes=('', '_merged') 
    )
    # CRITICAL STEP: Fill the NaN 'ID' and 'date' so the next merge works
    merged_result['ID'] = merged_result['ID'].fillna(merged_result['animal_id'])
    merged_result['date'] = merged_result['date'].fillna(merged_result['date_x'])
    
    # --- Merge 2 ---
    merged_result = merged_result.merge(
        subset2, 
        left_on=['ID', 'date'], 
        right_on=['Cow', 'date'], 
        how='outer', 
        suffixes=('', '_combined')
    )
    # Patch again
    merged_result['ID'] = merged_result['ID'].fillna(merged_result['Cow'])
    # No need to patch date here if 'Cow' matches 'ID' implies the date is valid, 
    # but safest to patch date if subset2 introduced a new date:
    # Note: subset2 'date' column name clashes with master 'date'. 
    # Pandas likely renamed subset2's date to 'date_combined'. Check your column names.
    if 'date_combined' in merged_result.columns:
         merged_result['date'] = merged_result['date'].fillna(merged_result['date_combined'])

    # --- Merge 3 ---
    merged_result = merged_result.merge(
        subset3, 
        left_on=['ID', 'date'], 
        right_on=['Animal_ID', 'Date'], 
        how='outer',
        suffixes=('', '_month_prev')
    )
    # Patch one last time
    merged_result['ID'] = merged_result['ID'].fillna(merged_result['Animal_ID'])
    merged_result['date'] = merged_result['date'].fillna(merged_result['Date'])

    temp_data.append(merged_result)

# 4. Compile
if temp_data:
    final_df = pd.concat(temp_data, ignore_index=True)
    # Cleanup: Ensure ID is integer (Outer join converts int to float because of NaNs)
    final_df['ID'] = final_df['ID'].fillna(-1).astype(int)
    print("Outer merge complete.")

TypeError: unsupported operand type(s) for -: 'str' and 'datetime.timedelta'